.Contact{
    
    /* background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette_1258-48251.jpg"); */
    background-size: cover;
    background-color: white;
    color: blue;
    
    
}
.h2{
    /* background-image: url("https://images.freeimages.com/images/previews/9b5/money-1-1238235.jpg"); */
    background-color: blue;
    
}
.h1{
    /* background-image: url("https://images.freeimages.com/images/previews/9b5/money-1-1238235.jpg"); */
    background-color: blue;
    margin-top: 100px;
    
    
}